/* FONT FACES */


@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic);

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,700italic,400,700);


/* RESET */

html { 
        overflow-y: scroll;
}


/* MAIN ELEMENTS */

body {
        font-family: Roboto, sans-serif;
        color: #222;
        line-height: 1.7em;
        font-size: 1.1em;
        margin: auto;
        width: 90%;
                
      }

h1, h2, h3, h4, h5, h6 {
      font-family: 'Roboto Condensed';
      color: #000080;
}

h1, h2 {
      margin-top: 1.2em;
}

ul { 
        list-style: square outside; 
      }

a:link {
        color: #3366ff;
        font-weight: normal;
        text-decoration: underline;
        }

a:visited {
        color: #3366ff;
      }

a:hover {
        color: #3366ff;
        }

header {
        padding-top: 15px;
        padding-bottom: 0px;
                
       }

nav {
  font-family: 'Roboto Condensed', sans-serif;
  float: right;
  margin-top: 35px;
  font-size: 0.9em;
}

nav a:link {
        text-decoration: none;
        color: #000080;
        font-weight: normal;
}

nav a:visited {
        text-decoration: none;
        color: #555;
}

nav a:hover {
        text-decoration: none;
        color: #555;
}

hr {
	border: solid #ddd;
	clear: both;
	border-width: 1px 0 0;
	height: 0;
	margin-bottom: .9em;
}

article {
        padding-bottom: 20px;
        clear: both;
      }


img {
  max-width: 100%;
}

footer {
   padding-bottom: 50px;
}


/* CLASSES */     

/*.date {
  color: #999;
}*/

.profile {
  padding: 4px;
  border: 1px solid #ccc;
  box-shadow: 1px 3px 3px #ddd;
  
}

.block {
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #DCDCDC;
  text-align: center;
  border-radius: 25px;
}

.otherpic {
  border-radius: 3%;
}

.social-icon {
  height: 36px;
  padding-right: 20px;
}


.footer-pic {
       padding-top: 20px;
       float: left;
      }

     
.contact {
        float: right;
      }

.logo {
 
 float: left;
 padding-bottom: 10px;
 
}

.navtop {
  font-size: 1.5em;
}
     


/* MEDIA QUERIES */

@media screen and (max-width: 589px) {

nav {
   float: left;
}

}


@media screen and (max-width: 450px) {

navtop {
   float: left;
}

.logo {
  float: none
}

.profile-pic {
   float: left;
}

.contact {
   float: left;
   width: 100%;
}

body {
    font-size: 1em;
}

}


@media screen and (min-width: 704px) {

body {
   max-width: 640px;
}

} 